page {
  background-color: #000000;
  height: 100%;
  color: rgb(128, 128, 128);
}

view,
text,
image {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.nut-picker {
  background-color: #000;
}
